{%extends 'base.html'%} 


{%block content %} 
<div class= "container-sm">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar Visita</legend>
                <h3>Estas seguro de eliminar esta visita de "{{object.institucion}}"</h3>
    
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Si, Eliminar</button>
                <a class="btn btn-outline-secondary" href ="{%url 'visita-detail' object.id %}">Cancelar</a>
                
            </div>
        </form>
    </div>
</div>
{%endblock %} 