{%extends 'base.html'%}

{%block content %}

<div>
    <div>
        <label class="input-group-text" for="">Formulario</label>
    </div>

    <div id="form" class="form-group mb-3">
        <!-- <form method = POST> {% csrf_token %} -->
        <form method='POST' class="row g-3 "> {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="text" name= 'title' placeholder="Your title"/> -->
    </div>
    <div id="button" class="col-12">
        <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
    </div>


    </form>

</div>
{% endblock %}