{%extends 'base.html'%} 
{% load crispy_forms_tags %}

{%block content %} 
<div >
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">Agendar</legend>
                {{ form|crispy }} 
    
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Guardar</button>
                <a class="btn btn-outline-secondary" href ="{%url 'visita-lista' %}">Cancelar</a>
                
            </div>
        </form>
    </div>
</div>
{%endblock %} 