
<div class= "d-flex  mb-3">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/visitante">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/visitas">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#salir">Salir</a>
        </li>
      </ul>

</div>
